<div class="center container ">
  <div class="card">
    <div class="my-2 text-letf">
      <button
        type="button"
        nombre="button"
        class="btn btn-primary"
        routerLink="/administrador/home/clientes/form"
      >
        Añadir Cliente
      </button>
    </div>
    <div class="card text-bg-light mb-3">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Filter"
          #input
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
    
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
    
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
    
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element"> {{element.createAt }}</td>
        </ng-container>
  
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/administrador/home/clientes/form',element.id]"><mat-icon>edit</mat-icon></a>
            <a (click)="delete(element)"><mat-icon>delete</mat-icon></a>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 15]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  
    <div *ngIf="listclientes.length == 0">No hay clientes disponibles</div>
  </div>
</div>



<!-- <div class="card text-bg-light mb-3" *ngIf="listclientes.length > 0">
  <div class="card-header">Listado de clientes</div>
  <div class="my-2 text-letf">
    <button
      type="button"
      nombre="button"
      class="btn btn-primary"
      routerLink="/clientes/form"
    >
      Añadir cliente
    </button>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of listclientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
          <td>
            <button
              type="button"
              nombre="button"
              class="btn btn-primary"
              [routerLink]="['/clientes/form', cliente.id]"
            >
              Editar
            </button>
          </td>
          <td>
            <button
              type="button"
              nombre="button"
              class="btn btn-danger"
              (click)="delete(cliente)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->